*{
  margin: 0;
  padding: 0;
}
nav{
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(#06565fc9 ,	#0b3b41e7);
  position: fixed;
  width: 100%;
  top: 0;
 
}
.logo{
  display: flex;
  
  

}
.logo h2{
  color: aliceblue;
  font-size: 40px;
  margin-top: 17px;
  margin-left: 20px;
}
.logo img{
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
nav > ul{
  display: flex;
  
}
nav > ul > li{
  list-style: none;
  padding: 25px 18px;
  

}
nav > ul > li > a{
  text-decoration: none;
  color: aliceblue;
}
.user{
  color: antiquewhite;
  font-size: 25px;
  background-color: rgba(0, 115, 255, 0.781);
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 50%;
  margin-top:15px ;
  margin-right: 50px;
  cursor: pointer;
  position: relative;
}
.user a i{
  margin-top: 10px;
  color: antiquewhite;
}
.search{
margin: 200px 0 0 450px;
position: absolute;
top: 170px;

} 
.search input{
  height: 53px;
  width: 500px;
  border-radius: 10px;
  border: none;
  padding-left: 20px;
  font-size: 20px;
  background-color: rgb(184, 206, 249);
  color: aliceblue;
}
.search i{
  padding-top: 13px;
  padding-left: 13px;
  border-radius: 10%;
  margin: 10px 10px;
  height: 40px;
  width: 40px;
  font-size: 25px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 95, 190, 0.765);
}
/* dropdownmenu code start here */
.dropdownmenu{
  opacity: 0;
  visibility: hidden;
  background-image: linear-gradient(#06565fc9 ,	#0b3b41e7);
  margin-top:32px;
  width:150px ;
  position: absolute;
  border-radius: 5px;
  transition: 0.5s;

}
nav > ul > li:hover > ul{
opacity: 1;
visibility: visible;
}
nav > ul > li:hover{
   background-image: linear-gradient(#00dff8c9 ,	#398791e7);
}
nav > ul{
  margin: auto;
}
nav > ul > li:first-child{
  border-left: 1px solid white;
}
nav > ul > li{
  border-right: 1px solid rgb(255, 255, 255);
  transition: 0.5s;
  height: 1px;
  padding-top: 5px;
  
}
.dropdownmenu > li{
  list-style: none;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid wheat;
  border-radius: 5px;
  
}
.dropdownmenu > li:hover{
  background-image: linear-gradient(#00dff8c9 ,	#398791e7);
}
.dropdownmenu > li:first-child{
  border-top: 1px solid wheat;;
}
.dropdownmenu > li > a{
  text-decoration: none;
  color: white;
}
.user-list{
   opacity: 0;
  visibility: hidden;
  background-image: linear-gradient(#06565fc9 ,	#0b3b41e7);
  margin:27px -70px;
  width:240px ;
  position: absolute;
  border-radius: 5px;
  transition: 0.5s;
  
  

}
.user:hover .user-list{
  opacity: 1;
  visibility: visible;
  
}
.user-list li:hover{
   background-image: linear-gradient(#00dff8c9 ,	#398791e7);
}
.user-list li{
  list-style: none;
  border-bottom: 1px solid white;
   border-top: 1px solid white;
   height: 35px;
  margin-right: 70px;
  padding-left: 
}
.user-list > li > a{
  text-decoration: none;
  color: white;
} 
/* mein section code start here */

main{

  background-image: linear-gradient(rgba(39, 147, 129, 0.784),rgba(34, 127, 141, 0.481));
  padding: 100px 0;
}
.main-section{
  width: 1000px;
  margin: auto;
}
.leatest-video-parent{
  display: flex;
  justify-content: space-between;
}
.leatest-video-text{
  font-size: 20px;
  font-weight: bold;
  color: rgb(38, 0, 177);
}
.leatest-video-page{
  color: rgb(38,0,177);
  font-size: 19px;
}
.leatest-video-page span{
  background-color: antiquewhite;
  padding: 5px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid rgb(34, 0, 255);
}

.single-items-parents{
  display: grid;
  grid-template-columns: repeat(4 ,1fr);
  grid-row-gap: 50px;
  grid-column-gap: 20px;
  margin-top: 20px;
  
}
.single-item{
  height: 230px;
  border: 2px solid gainsboro;
  border-radius: 10px;
  transition: 0.5s;
  text-shadow: 5px 5px 10px rgb(0, 0, 0);
  overflow: hidden;
}
.single-item:hover img{
  transform:scale(1.1);
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid gainsboro;
}
.single-item img{
width: 100%;
height: 100%;
border-radius: 10px;

}
.single-item div{
  display: flex;
  justify-content: space-between;
  color: antiquewhite;
  margin: 10px;
  font-size: 18px;
}

/* previous and next page start here */

.previce-next-button-parent-div{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.previce-next-button-parent-div  a{
  text-decoration: none;
  color: antiquewhite;
  
}
.previce-next-button-parent-div h3{
  
  background-image: linear-gradient(#78787884 ,	#398791e7);
  padding: 10px 25px;
  border-radius: 12px;
  transition: 0.5s;
  border: 1px solid wheat;
}
.previce-next-button-parent-div h3:hover{
background-image: linear-gradient(#1068b084 ,	#329494);
font-weight: bold;
}
.previce-next-button-parent-div div a{
  margin: 0 10px;
  color: black;
  background-color: antiquewhite;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  font-weight: bold;
  font-size: 20px;

}
.previce-next-button-parent-div div a:first-child{
background-color: rgba(63, 255, 191, 0.804);
}

